.App {
  font-family: sans-serif;
  overflow-x:hidden;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  font: 600 1.5em/1 'Raleway', sans-serif;
  color: rgba(0,0,0,.5);
}